@{
    ViewBag.Title = "Hexball";
}

<div class="jumbotron">
    <h2>Hexball</h2>
    <p class="lead">Os clubes e instituições esportivas sempre buscaram melhorar o desempenho dos seus atletas para torná-los competitivos e agregar valor aos mesmos. Pensando nessa necessidade...</p>
    <p><a href="http://www.hexball.com.br" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>SIMULADOR PARA TREINAMENTO TÉCNICO</h3>
        <p>
            Elaborado pela empresa Hexball, o simulador de treinamento técnico é uma tecnologia inovadora no mercado brasileiro. Projetada para monitorar e aprimorar as habilidades técnicas e físicas dos atletas, sua principal...
        </p>
        <p><a class="btn btn-default" href="http://www.hexball.com.br/novosite/simulador.html">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>SISTEMA DE MONITORAMENTO FÍSICO E TÁTICO</h3>
        <p>O sistema desenvolvido pela empresa Hexball permite monitorar, em tempo real, o desempenho físico e tático dos atletas. Com o auxilio do sistema de monitoramento, a comissão técnica poderá controlar...</p>
        <p><a class="btn btn-default" href="http://www.hexball.com.br/novosite/monitoramento.html">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>SOFTWARE PARA GERENCIAMENTO DE DADOS</h3>
        <p>O software para gerenciamento de dados foi desenvolvido para organizar e otimizar o tempo de planejamento dos treinos. Com uma interface simples é possível analisar de maneira prática e rápida os dados apresentados pelo...</p>
        <p><a class="btn btn-default" href="http://www.hexball.com.br/novosite/software.html">Saiba mais &raquo;</a></p>
    </div>
</div>